<svg width="60px" height="60px" version="1.1" viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
  <g fill="none" fill-rule="evenodd">
    <g transform="translate(-479,-238)" stroke="#fbe468" stroke-linecap="round" stroke-linejoin="round" stroke-width="1">
      <g transform="translate(482,244)">
        <a transform="translate(0,2)">
          <polygon id="Triangle-58" points="0.15321 44 27 0 53.847 44"/>
        </a>
        <rect x="25" y="13" width="4" height="21"/>
        <a transform="translate(0,2)">
          <circle cx="27" cy="38" r="2"/>
        </a>
      </g>
    </g>
  </g>
</svg>
