section#add-contributor,
section#add-contribution,
section#add-proposal,
section#signup {

  form {

    p {
      margin-bottom: 1.5rem;

      &.mg-bottom-md {
        margin-bottom: 2rem;
      }
      
      &.label {
        margin-bottom: .5rem;
      }

      &.actions {
        padding-top: 1.5rem;
        text-align: center;
        a {
          color: $primary-color;
          margin-left: 1rem;
        }
      }
    }

    label {
      display: block;
      margin-bottom: 0.5rem;
      opacity: 0.7;
    }

    input[type=text], select {
      width: 100%;
      padding: 1rem;
      border: none;
      border-bottom: 1px solid rgba(255,255,255,0.2);
      background-color: rgba(22, 21, 40, 0.3);
      color: #fff;
      font-size: 1.2rem;
      transition: border-color 0.1s linear;

      &:focus, &.valid {
        background-color: rgba(22, 21, 40, 0.6);
      }
      &:focus {
        border-color: $blue;
      }
      &::placeholder {
        color: rgba(238, 238, 238, 0.5);
      }
    }

    select {
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      border-radius: 0;
      background-color: rgba(22, 21, 40, 0.6);
      background-image:
        linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%);
      background-position:
        calc(100% - 1.5rem) calc(1rem + 0.5rem),
        calc(100% - 1rem) calc(1rem + 0.5rem);
      background-size:
        0.5rem 0.5rem,
        0.5rem 0.5rem;
      background-repeat: no-repeat;

      &:invalid {
        color: rgba(238, 238, 238, 0.5);
      }
    }

    input[type=submit] {
      padding: 0.6rem 2rem;
      &:disabled {
        background-color: transparent;
      }
    }

    input[type=checkbox] {
      display: none;
    }

    label.checkbox {
      line-height: 3.2rem;
      font-size: 1.2rem;
      &::before {
        display: inline-block;
        margin-right: 0.8rem;
        height: 3.2rem;
        width: 3.2rem;
        font-size: 2rem;
        background-color: rgba(22, 21, 40, 0.3);
        border-bottom: 1px solid rgba(255,255,255,0.2);
        text-align: center;
        vertical-align: middle;
        content: '✓';
        color: rgba(255,255,255,0.2);
      }
    }

    input[type=checkbox]:checked + label.checkbox {
      &::before {
        background-color: rgba(22, 21, 40, 0.6);
        color: #fff;
      }
    }

  }

}
