main {
  padding: 1rem 2rem;

  @include media-max(small) {
    padding: 1rem;
  }

  &#dashboard {
    width: 100%;
    display: grid;
    grid-row-gap: 2rem;
    grid-template-areas:
      "stats"
      "contributions";
  }

  &#budget {
    width: 100%;
    display: grid;
    grid-row-gap: 2rem;
    grid-template-areas:
      "aside"
      "content";
  }

  &.center-column {
    display: flex;
    flex-direction: column;
    align-items: center;

    section {
      width: 600px;
      max-width: 100%;

      header {
        text-align: center;
      }
    }
  }

  section {
    .content {
      a {
        font-size: inherit;
      }

      &.text-lg {
        p {
          font-size: 1.2rem;
          margin-bottom: 1em;
          line-height: 1.5em;
        }
      }

      &.text-center {
        text-align: center;
      }

      p {
        &.mg-bottom-md {
          margin-bottom: 2rem;
        }

        &.actions {
          text-align: center;
          padding-top: 2rem;
        }
      }
    }
  }
}

#intro {
  padding: 2rem;
  background-color: rgba(0,0,0,.2);
  font-size: 1.6rem;

  @include media-max(small) {
    padding: 2rem 1rem;
    font-size: 1.5rem;
  }

  h2 {
    font-size: inherit;
    margin-bottom: 1em;
  }

  p {
    margin-bottom: 1em;
    line-height: 1.5em;
    font-size: 1.2rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    text-decoration: none;

    &:hover, &:active {
      text-decoration: underline;
    }
  }
}

@media (min-width: 550px) {
  main {
    &#dashboard {
      grid-column-gap: 4rem;
      grid-row-gap: 2rem;
      grid-template-columns: 2fr 4fr;
      grid-template-areas:
        "stats contributions";

      &.with-details {
        grid-column-gap: 3rem;
        grid-template-columns: 2fr 4fr 2fr;
        grid-template-areas:
          "stats contributions details";
      }
    }

    &#budget {
      grid-column-gap: 3rem;
      grid-template-columns: 2fr 4fr 2fr;
      grid-template-areas:
        "aside content empty";
    }
  }
}

main section {
  margin-bottom: 5rem;

  &:first-of-type {
    margin-top: 2rem;
  }

  @include media-max(small) {
    margin-bottom: 5rem;
  }

  header {
    margin-bottom: 3rem;

    &.with-nav {
      display: grid;
      grid-template-columns: auto 5rem;
      grid-template-areas:
        "title" "actions";
    }

    h2 {
      display: inline-block;
      // padding-left: 1.2rem;
    }

    nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
    }

    @include media-max(small) {
      margin-bottom: 2rem;
    }
  }
}
