* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:hover, *:active, *:focus {
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

@import "mediaqueries";
@import "layout";
@import "colors";

$font-family-sans: 'Open Sans', sans-serif;

html, body {
  font-family: $font-family-sans;
  font-weight: 300;
  font-size: 12px;
  color: $body-text-color;
}

body {
  background-image: linear-gradient(to bottom, rgba(22, 21, 40, .4), rgba(0, 0, 0, .75)), url('/img/bg.jpg');
  background-repeat: none;
  background-attachment: fixed;
}

@media screen and (min-width: 900px) {
  body {
    background-size: cover;
  }
}

h1, h2, h3, h4, h5, input, button {
  font-family: $font-family-sans;
  font-size: 1rem;
  font-weight: 300;
}

a {
  color: $primary-color;
}

section {
  h2 {
    font-size: 1.5rem;
    color: $primary-color;
  }

  &#people {
    .content {
      p.stats {
        margin-bottom: 1rem;
        font-size: 1rem;
        color: white;
        text-align: center;
        span.number {
          font-weight: 600;
        }
      }
    }
  }

  &#contributions-by-type {
    .chart {
      width: 50%;
      margin-left: auto;
      margin-right: auto;

      @include media-max(small) {
        width: 75%;
      }
    }
  }
}

@media (min-width: 550px) {
  section {
    h2 {
      font-size: 2rem;
    }
  }
}

@import "buttons";
@import "forms";
@import "sugar";
@import "item-list";

@import "components/budget-balances";
@import "components/contribution-details";
@import "components/contribution-list";
@import "components/contributor-list";
@import "components/contributor-profile";
@import "components/expense-list";
@import "components/external-account-link";
@import "components/main-navigation-menu";
@import "components/loading-spinner";
@import "components/reimbursement-list";
@import "components/topbar";
@import "components/topbar-account-panel";
@import "components/user-avatar";
