* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:hover, *:active, *:focus {
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

@import "bourbon";
@import "settings/neat";
@import "neat";
@import "settings/breakpoints";
@import "layout";

$font-family-sans: 'Open Sans', sans-serif;

body {
  background-image: url('/img/bg.jpg');
  background-repeat: none;
  font-family: $font-family-sans;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
}

@media screen and (min-width: 900px) {
  body {
    background-size: cover;
  }
}

h1, h2, h3, h4, h5, input, button {
  font-family: $font-family-sans;
  font-size: 1rem;
  font-weight: 300;
}

section {
  h2 {
    font-size: 2.8rem;
    color: lightblue;
    @include media($mobile) {
      font-size: 2rem;
    }
  }
}

@import "components/contributor-list";
