<main class="center-column">

  <section id="add-item">
    <header>
      <h2>Submit a reimbursement</h2>
    </header>

    <div class="content">
      <AddReimbursement @attributes={{this.model.params}} />
    </div>
  </section>

</main>