<nav id="main-menu">
  <ul>
    <li><LinkTo @route="dashboard">Dashboard</LinkTo></li>
    <li><LinkTo @route="budget">Budget</LinkTo></li>
    <li><LinkTo @route="about">About</LinkTo></li>
  </ul>
</nav>
