<table class="token-balances {{if this.loading 'loading'}}">
  <thead>
    <tr>
      <th>Token</th>
      <th>Amount</th>
      <th>Fiat value</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.balances as |balance|}}
      <tr>
        <th>{{balance.token.symbol}}</th>
        <td class="amount">{{balance.confirmed_balance}}</td>
        <td class="fiat-amount">~{{balance.balanceUSD}} USD</td>
      </tr>
    {{/each}}
  </tbody>
</table>