<table class="token-balances">
  <thead>
    <tr>
      <th>Token</th>
      <th>Amount</th>
      <th>Fiat value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>ETH</th>
      <td class="amount">{{fmt-crypto-currency this.communityFunds.balanceETH.balance 'ETH'}}</td>
      <td class="fiat-amount">{{this.communityFunds.balanceETH.balanceUsd}} USD</td>
    </tr>
    <tr>
      <th>WBTC</th>
      <td class="amount">{{fmt-crypto-currency this.communityFunds.balanceWBTC.balance 'WBTC'}}</td>
      <td class="fiat-amount">{{this.communityFunds.balanceWBTC.balanceUsd}} USD</td>
    </tr>
  </tbody>
</table>