<table>
  <thead>
    <tr>
      <td>Token</td>
      <td>Amount</td>
      <td>Fiat value</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>WBTC</td>
      <td>{{this.communityFunds.balanceWBTC.balance}}</td>
      <td>{{this.communityFunds.balanceWBTC.balanceUsd}} USD</td>
    </tr>
    <tr>
      <td>ETH</td>
      <td>{{this.communityFunds.balanceETH.balance}}</td>
      <td>{{this.communityFunds.balanceETH.balanceUsd}} USD</td>
    </tr>
  </tbody>
</table>