section#add-contributor {

  form {

    p {
      margin-bottom: 1rem;

      &.actions {
        padding-top: 1rem;
        text-align: center;
      }
    }

    input[type=text] {
      width: 100%;
      padding: 1rem;
      border: none;
      border-bottom: 1px solid rgba(255,255,255,0.2);
      background-color: rgba(22, 21, 40, 0.3);
      color: #fff;
      font-size: 1.2rem;
      &:focus, &.valid {
        background-color: rgba(22, 21, 40, 0.6);
      }
    }

    input[type=submit] {
      padding: 0.6rem 2rem;
      &:disabled {
        background-color: transparent;
      }
    }

  }

}
