section#add-contributor, section#add-proposal {

  form {
    p {
      margin-bottom: 1rem;

      &.actions {
        padding-top: 1rem;
        text-align: center;
        a {
          color: $primaryColor;
          margin-left: 1rem;
        }
      }
    }
  }

}
