section#add-contributor, section#add-proposal {

  form {

    p {
      margin-bottom: 1rem;

      &.actions {
        padding-top: 1rem;
        text-align: center;
        a {
          color: lightblue;
          margin-left: 1rem;
        }
      }
    }

    input[type=text] {
      width: 100%;
      padding: 1rem;
      border: none;
      border-bottom: 1px solid rgba(255,255,255,0.2);
      background-color: rgba(22, 21, 40, 0.3);
      color: #fff;
      font-size: 1.2rem;
      &:focus, &.valid {
        background-color: rgba(22, 21, 40, 0.6);
      }
    }

    input[type=submit] {
      padding: 0.6rem 2rem;
      &:disabled {
        background-color: transparent;
      }
    }

    input[type=checkbox] {
      display: none;
    }

    label.checkbox {
      line-height: 3.2rem;
      font-size: 1.2rem;
      &::before {
        display: inline-block;
        margin-right: 0.8rem;
        height: 3.2rem;
        width: 3.2rem;
        font-size: 2rem;
        background-color: rgba(22, 21, 40, 0.3);
        border-bottom: 1px solid rgba(255,255,255,0.2);
        text-align: center;
        vertical-align: middle;
        content: '✓';
        color: rgba(255,255,255,0.2);
      }
    }

    input[type=checkbox]:checked + label.checkbox {
      &::before {
        background-color: rgba(22, 21, 40, 0.6);
        color: #fff;
      }
    }

  }

}
