section#funds {
  @include media-max(small) {
    margin-bottom: 2rem;
  }

  table.token-balances {
    opacity: 1;
    transition: opacity 0.3s linear;

    &.loading {
      opacity: 0;
    }

    thead {
      display: none;
    }

    th, td {
      vertical-align: text-bottom;

      img {
        max-height: 1.5rem;
        max-width: 1.5rem;
      }
    }

    th {
      font-size: 1.5rem;
      text-align: left;
      padding-right: 1rem;
    }

    td {
      text-align: right;

      &.amount {
        font-size: 2rem;
        padding-right: 1.2rem;
      }

      &.fiat-amount {
        font-size: 1.2rem;
        color: rgba(255,255,255,0.8);
      }

      span.unit {
        font-size: 1.5rem;
      }
    }
  }
}
