table.contributor-list {
  position: relative;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1.5rem;

  tr {
    background-color: $item-background-color;
    border-bottom: 1px solid $item-border-color;
    cursor: pointer;

    &:first-of-type {
      border-top: 1px solid $item-border-color;
    }

    &.selected {
      background-color: $item-highlighted-background-color;
    }

    &.current-user {
      font-weight: 500;
    }

    td {
      padding: 0 1.2rem;
      line-height: 3.6rem;

      &.person {
        text-align: left;
        font-size: 1.2rem;

        img.avatar {
          margin-right: 0.2rem;
        }
      }

      &.kredits {
        text-align: right;

        .amount {
          font-size: 1.2rem;
          font-weight: 500;
        }

        .symbol {
          font-size: 0.8rem;
          padding-left: 0.2rem;
        }
      }
    }
  }

  &.loading {
    @include loading-border-top;
    &::before {
      position: absolute;
    }
  }
}
