main section {
  @include media-max(small) {
    &#contributions-unconfirmed, &#contributions-confirmed {
      margin-top: 0;
    }
  }
}

.quick-filter {
  font-size: 1.2rem;
  margin-bottom: 2rem;

  p {
    padding: 0.2rem 0 0;
  }

  label {
    &+ label {
      margin-left: 3.6rem;
    }
  }
}

ul.contribution-list {
  clear: both;
  width: 100%;

  li {
    display: grid;
    grid-template-columns: auto 5rem 5rem;
    grid-row-gap: 0.5rem;
    cursor: pointer;

    &.confirmed {
      grid-template-columns: auto 5rem;
    }

    &.vetoed {
      grid-template-columns: auto 5rem;
      text-decoration: line-through;
      opacity: 0.6;
    }

    p {
      align-self: center;
      margin: 0;
      line-height: 2rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &.kredits-amount, &.voting {
        text-align: right;
      }
    }

    span {
      &.title {
        a {
          text-decoration: none;
          color: $body-text-color;
        }
        a:hover, a:active {
          color: $primary-color;
        }
      }
    }

    .description {
      line-height: 1.4em;
      font-size: 1rem;
    }

    .category {
      color: $blue;
      padding-right: 0.2rem;
      &.community { color: $red; }
      &.dev       { color: $pink; }
      &.design    { color: $yellow; }
      &.docs      { color: $green; }
      &.ops       { color: $purple; }
    }

    .amount {
      font-weight: 500;
    }

    .symbol {
      font-size: 0.8rem;
      padding-left: 0.2rem;
    }

    .recipient {
      font-weight: 500;
    }

    .votes {
      font-size: 1rem;
      color: $primary-color;
      margin-right: 0.5rem;
    }
  }
}
