main section {
  @include media-max(small) {
    &#contributions-unconfirmed, &#contributions-confirmed {
      margin-top: 0;
    }
  }
}

ul.contribution-list {
  clear: both;
  width: 100%;
  list-style: none;

  li {
    display: grid;
    grid-template-columns: auto 5rem 5rem;
    grid-row-gap: 0.5rem;
    padding: 0.8rem 1.2rem;
    background-color: rgba(255,255,255,0.1);
    font-size: 1.2rem;
    border-bottom: 1px solid rgba(255,255,255,0.2);

    &:first-of-type {
      border-top: 1px solid rgba(255,255,255,0.2);
    }

    &.confirmed {
      grid-template-columns: auto 5rem;
    }

    &.vetoed {
      grid-template-columns: auto 5rem;
      text-decoration: line-through;
      opacity: 0.6;
    }

    p {
      align-self: center;
      margin: 0;
      font-size: inherit;
      line-height: 2rem;

      &.kredits-amount, &.voting {
        text-align: right;
      }
    }

    span {
      font-size: inherit;

      &.title {
        a {
          font-size: inherit;
          text-decoration: none;
          color: $body-text-color;
        }
        a:hover, a:active {
          color: $primary-color;
        }
      }
    }

    .description {
      line-height: 1.4em;
      font-size: 1rem;
    }

    .category {
      color: $blue;
      padding-right: 0.2rem;
      &.community { color: $red; }
      &.dev       { color: $pink; }
      &.design    { color: $yellow; }
      &.docs      { color: $green; }
      &.ops       { color: $purple; }
    }

    .amount {
      font-weight: 500;
    }

    .symbol {
      font-size: 0.8rem;
      padding-left: 0.2rem;
    }

    .recipient {
      font-weight: 500;
    }

    .votes {
      font-size: 1rem;
      color: $primary-color;
      margin-right: 0.5rem;
    }
  }

}

@media (min-width: 550px) {
  ul.proposal-list {
    li {
      grid-template-columns: auto 10rem;
      grid-row-gap: 0.5rem;

      p {
        &.kredits-amount, &.voting {
          text-align: right;
        }
      }

      &.unconfirmed {
        p {
          &.kredits-amount, &.voting {
            text-align: right;
          }

          &.description {
            grid-column-start: span 1;
          }

          &.voting {
            grid-column-start: span 1;
          }
        }
      }


      .description {
        font-size: inherit;
      }
    }
  }
}
