.external-accounts a {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  padding: 0.8rem;
  background-color: rgba(0, 0, 0, 0.3);
  color: $body-text-color;
  border-radius: 2rem;

  span.site {
    display: none;
  }

  svg {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;

    .fg {
      fill: $body-text-color;
    }
  }

  &:hover, &:active {
    background-color: rgba(0, 0, 0, 0.5);

    svg {
      .fg {
        fill: $primary-color;
      }
    }
  }
}
