ul.reimbursement-list {
  width: 100%;

  > li {
    display: grid;
    grid-template-columns: auto 12rem;
    grid-row-gap: 0.5rem;
    padding-top: 1.6rem;

    &.vetoed {
      text-decoration: line-through;
      opacity: 0.6;
    }

    .token-amount {
      text-align: right;

      img {
        height: 1em;
        vertical-align: middle;
        margin-top: -2px;
      }

      .amount {
        font-size: 1.5rem;
      }

      .symbol {
        font-size: 1rem;
        padding-left: 0.2rem;
      }
    }
  }

  div.meta {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 0.6rem;
    border-top: 1px solid $item-border-color;
    display: flex;

    p {
      flex: 1;
      padding: 1.6rem 0 1rem 0;

      &.actions {
        text-align: right;
      }
    }
  }
}
