header#topbar section#user-account {

  button {
    margin-left: 1.5rem;
  }

  button + button {
    margin-left: 0.6rem;
  }

  @include media-max(small) {
    .anonymous {
      display: none;
    }
  }

}
