#topbar {
  padding: 0 1rem;
  line-height: 3rem;
  background-color: rgba(0,0,0,.3);

  h1 {
    display: inline-block;
    text-transform: uppercase;
  }

  section#user-account {
    display: inline-block;
    float: right;
  }
}
