<section id="contribution-details">
  <header>
    <h2>Details</h2>
  </header>

  <div class="content">
    <h3>{{model.description}}</h3>
    <a href={{model.url}}
       title={{model.description}}
       class="button"
       target="_blank"
       rel="noopener">
      Open URL
    </a>
  </div>
</section>