<main class="center-column">

  <section id="add-contribution">
    <header>
      <h2>Submit a contribution</h2>
    </header>

    <div class="content">
      {{add-contribution contributors=sortedContributors save=(action "save")}}
    </div>
  </section>

</main>
