<main class="center-column">

  <section id="add-contribution">
    <header>
      <h2>Submit a contribution</h2>
    </header>

    <div class="content">
      <AddContribution @contributors={{sortedContributors}} @attributes={{model.params}} @save={{action "save"}} />
    </div>
  </section>

</main>
