<main class="center-column">

  <section id="add-contribution">
    <header>
      <h2>Re-submit contribution #{{this.model.id}}</h2>
    </header>

    <div class="content">
      <AddContribution @attributes={{this.attributes}}
                       @contributors={{this.sortedContributors}}
                       @save={{action "save"}} />
    </div>
  </section>

</main>
