<main class="center-column">

  <section id="add-contributor">
    <header>
      <h2>Add contributor profile</h2>
    </header>

    <div class="content">
      <AddContributor @save={{action "save"}} />
    </div>
  </section>

</main>
