<section id="add-proposal">
  <header>
    <h2>Add Proposal</h2>
  </header>

  <div class="content">
    {{add-proposal proposal=model contributors=contributors onSave=(action 'onSave')}}
  </div>
</section>

