<header>
  <h2>Welcome aboard!</h2>
</header>
<div class="content text-lg text-center">
  <p>
    Congratulations. Your initial profile is now complete.
  </p>
  <p>
    Why not say hi to your fellow contributors
    <a href="https://wiki.kosmos.org/Main_Page#Community_.2F_Getting_in_touch_.2F_Getting_involved">in one of our chat rooms</a>?.
  </p>
  <p class="actions">
    {{#link-to "dashboard" class="button small"}}Return to dashboard{{/link-to}}
  </p>
</div>