<header>
  <h2>Create your contributor profile</h2>
</header>
<div class="content text-lg">
  <p>
    You have already contributed to a Kosmos project, or you are interested
    in contributing in the near future? Fantastic!
  </p>
  <p>
    In order to earn kredits for your contributions, you will need a
    registered contributor profile. The quickest way to register is by
    connecting one of the following accounts:
  </p>
  <p class="actions">
    <button {{on "click" this.connectGithub}} class="icon" type="button">
      <IconAccountGithubCom />
      Connect GitHub
    </button>
  </p>
</div>
