{{#each proposals as |proposal|}}
  <li>
    Issue{{#if proposal.executed}}d{{/if}}
    <span class="amount">{{proposal.amount}}</span><span class="symbol">₭S</span>
    to <span class="recipient">{{proposal.recipientName}}</span>

    <button {{action "confirm"}}>+1</button>
  </li>
{{/each}}
