{{#each proposals as |proposal|}}
  {{proposal-list/item
    proposal=proposal
    selectedProposals=selectedProposals
    toggleSelect=(action 'toggleSelect')
  }}
{{/each}}

{{#if confirmProposals}}
  <p class="actions">
    <input type="submit" disabled={{submitButtonDisabled}}
           value="Confirm selected" {{action 'confirm'}}>
  </p>
{{/if}}
