<main id="about">
  <div id="aside">
  </div>

  <div id="content">
    <section class="text">
      <h2>What is this?</h2>
      <p>
        You have found the contribution dashboard and budget management app of the
        <a href="https://kosmos.org" target="_blank" rel="noreferrer noopener">Kosmos</a>
        open-source co-operative.
      </p>
      <p>
        We use this app to track what people contribute to all parts of our
        projects (not just code), as well as for managing our community's budget.
      </p>
      <h2>Why?</h2>
      <p>
        We are trying out a new form of co-operative, native to the Internet,
        creating and sharing digital resources the same way traditional
        co-operatives share physical ones.
      </p>
      <p>
        By knowing roughly how much people contribute, we are able to reward
        co-operative members who contribute their time with money contributed
        by the ones who don't.
      </p>
      <p>
        In addition to open-source grant payouts, all contributors can also propose
        reimbursements for specific expenses they covered on behalf of the
        community.
      </p>
      <h2>How?</h2>
      <p>
        Instead of notaries, lawyers, courts, or banks, we record data and manage
        certain decisions on a decentralized ledger called
        <a href="https://rootstock.io/" target="_blank" rel="noreferrer noopener">Rootstock</a>,
        which is cryptographically tied to the bitcoin timechain.
      </p>
      <p>
        By doing this, we can ensure community control over the budget, as well as
        full transparency and verifiability of everything that happens. It also
        allows us to quickly, cheaply, and reliably send our open-source grants to
        anyone who's contributing, no matter where they are on this beautiful
        planet.
      </p>
      <h2>Kredits</h2>
      <p>
        All contributions are rewarded with so-called kredits. They are both
        credits in the traditional sense of public attribution, as well as a
        measure of how much and how regularly someone has added value to the
        community and its products and services.
      </p>
      <p>
        Kredits are considered for example for grant payouts, as well as
        permissions for certain actions like vetos or votes. They may also be used
        to access <a href="https://kosmos.org/services/">hosted services</a> for free,
        or to unlock additional features on otherwise free services.
      </p>
      <h2>Getting started</h2>
      <p>
        We'd be delighted to welcome you as a new contributor!
        If you'd like to start collecting kredits for your contributions, you can
        <LinkTo @route="signup">create a contributor profile</LinkTo> now.
      </p>
      <p>
        Next, you could learn more about
        <a href="https://community.kosmos.org/t/how-kredits-for-contributions-are-proposed-and-confirmed/176">how kredits are proposed and issued</a>.
        If you want to dive deeper into how this all works, head over to the
        <a href="https://wiki.kosmos.org/Kredits">Kredits documentation</a>
        page on our (soon to be phased out) wiki.
      </p>
    </section>
  </div>

  <div id="empty">
  </div>
</main>