<header id="topbar">
  <h1>{{link-to "Kosmos Kredits" "dashboard"}}</h1>

  <section id="user-account">
    {{#if kredits.hasAccounts }}
      {{#if kredits.currentUser}}
        {{kredits.currentUser.name}}
        {{#if kredits.currentUserIsCore}}(core){{/if}}
      {{/if}}
    {{else}}
      Anonymous
    {{/if}}
  </section>
</header>

{{outlet}}
