<main id="budget">

  <div id="aside">
    <section id="main-nav">
      <header>
        <h2>Budget</h2>
      </header>
      <div class="content">
        <ul>
          <li>
            <LinkTo @route="budget.expenses">Expenses</LinkTo>
          </li>
          <li>
            <a href="#">Rewards</a>
          </li>
        </ul>
      </div>
    </section>

    <section id="funds">
      <header>
        <h2>Community funds</h2>
      </header>
      <div class="content">
        <table>
          <thead>
            <tr>
              <td>Token</td>
              <td>Amount</td>
              <td>Fiat value</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>WBTC</td>
              <td>1.17215</td>
              <td>11031.15 USD</td>
            </tr>
            <tr>
              <td>ETH</td>
              <td>0.5</td>
              <td>115.60 USD</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>

  <div id="content">
    {{#if this.reimbursementsUnconfirmed}}
      <section id="expenses-unconfirmed">
        <header class="with-nav">
          <h2>Proposed Reimbursements</h2>
          <nav>
            <LinkTo @route="reimbursements.new" @title="Submit a reimbursement" class="button small green">add</LinkTo>
          </nav>
        </header>
        <div class="content">
          <ReimbursementList @items={{this.reimbursementsUnconfirmed}} />
        </div>
      </section>
    {{/if}}

    {{#if this.reimbursementsConfirmed}}
      <section id="expenses-confirmed">
        <header class="with-nav">
          <h2>Confirmed Expenses</h2>
          <nav>
            <LinkTo @route="reimbursements.new" @title="Submit a reimbursement" class="button small green">add</LinkTo>
          </nav>
        </header>
        <div class="content">
          <ReimbursementList @items={{this.reimbursementsConfirmed}} />
        </div>
      </section>
    {{/if}}
  </div>

  <div id="empty">
  </div>

</main>