<section id="contributors">
  <header>
    <h2>Kosmos Contributors</h2>
  </header>

  <div class="content">
    {{contributor-list contributors=model.contributors}}

    <p class="stats">
      <span class="number">{{kredits.totalSupply}}</span> kredits issued and distributed among
      <span class="number">{{kredits.contributorsCount}}</span> contributors.
    </p>
  </div>
</section>

{{#if contractInteractionEnabled}}
  <section id="add-contributor">
    <header>
      <h2>Add Contributor</h2>
    </header>

    <div class="content">
      {{add-contributor kredits=kredits}}
    </div>
  </section>
{{/if}}
