<section id="contributors">

  <header>
    <h2>Kosmos Contributors</h2>
  </header>

  <div class="content">
    {{contributor-list contributors=model.contributors}}

    <p class="stats">
      <span class="number">{{kreditsSum}}</span> kredits issued and distributed among
      <span class="number">{{contributorsCount}}</span> contributors.
    </p>
  </div>

</section>
