<main class="center-column">

  <section id="signup">
    <header>
      <h2>Create your contributor profile</h2>
    </header>

    <div class="content text-lg">
      {{outlet}}
    </div>
  </section>

</main>